@page "/fetchdata"
@using Cycling.Data
@inject WeatherForecastService ForecastService

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <MudDataGrid Items="@forecasts">
        <Columns>
            <PropertyColumn Property="x => x.Date.ToShortDateString()" Title="Date" />
            <PropertyColumn Property="x => x.TemperatureC" />
            <PropertyColumn Property="x => x.TemperatureF" />
            <PropertyColumn Property="x => x.Summary" />
        </Columns>
    </MudDataGrid>
}

@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateOnly.FromDateTime(DateTime.Now));
    }
}
