@page "/mudblazor"

<PageTitle>MudBlazor Examples</PageTitle>

<h1>Hello, MudBlazor!</h1>

<MudButton>Show dialog with inline Blazor content</MudButton>
<MudButton >
    Show context menu
</MudButton>


